# =====================================
# Flutter / Dart
# =====================================
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub/
build/
**/build/

# Generated plugin registrant
generated_plugin_registrant.*

# =====================================
# Platform folders (generated)
# =====================================
android/
ios/
linux/
macos/
web/
windows/

# =====================================
# IDE configs
# =====================================
# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# =====================================
# Flutter plugins, caches, keystores
# =====================================
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/ephemeral/

android/.gradle/
android/.idea/
android/local.properties
android/app/*.keystore

linux/flutter/.dart_tool/
linux/flutter/flutter_assemble.vcxproj
linux/flutter/flutter_assemble.vcxproj.filters

# =====================================
# Logs & Metadata
# =====================================
logs/
*.log

metadata/
*.lock

# =====================================
# Analysis & Metadata files
# =====================================
.metadata
analysis_options.yaml

# =====================================
# Test outputs
# =====================================
coverage/

# =====================================
# Ignore tests folder
# =====================================
test/

# =====================================
# OS-specific files
# =====================================
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
