# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# ignore VS Code/Flutter DevTools settings
devtools_options.yaml

# Generated config
package_config.json
package_config_subset.json
package_graph.json
version

# IDE / Editor
.vscode/
.idea/
*.iml

# Logs
logs/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Python envs (for your scripts)
__pycache__/
*.pyc
venv/
env/
